<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RSVP Management System</title>
</head>

<body>
    <h2>Welcome to the RSVP Management System</h2>
    <h4>What would you like to do today?</h4>

    <a href="/new"><button type="submit">View All RSVPs</button></a>
    <a href="/new"><button type="submit">Search for a RSVP</button></a>
    <a href="/new"><button type="submit">Create New RSVP</button></a>
    <a href="/new"><button type="submit">Update A RSVP</button></a>
    <a href="/new"><button type="submit">Delete A RSVP</button></a>
</body>

</html>