<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RSVP Management System</title>
</head>

<body>
    <h2>Welcome to the RSVP Management System</h2>
    <h4>What would you like to do today?</h4>

    <a href="/view"><button type="submit">View all RSVPs</button></a>
    <a href="/search"><button type="submit">Search for an RSVP</button></a>
    <a href="/create"><button type="submit">Create new RSVP</button></a>
    <a href="/update"><button type="submit">Update an RSVP</button></a>
    <a href="/delete"><button type="submit">Delete an RSVP</button></a>
</body>

</html>