<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update RSVP | RSVP Management System</title>
</head>

<body>
    <h2>Update RSVP</h2>

    <form th:object="${rsvp}" th:action="@{/update}" method="post">
        <table>
            <tr>
                <td>ID:</td>
                <td>
                    <input type="text" th:field="*{id}" readonly>
                </td>
            </tr>

            <tr>
                <td>Full Name:</td>
                <td>
                    <input type="text" th:field="*{fullName}">
                </td>
            </tr>

            <tr>
                <td>E-mail Address:</td>
                <td>
                    <input type="email" th:field="*{email}">
                </td>
            </tr>
            
            <tr>
                <td>Phone Number:</td>
                <td>
                    <input type="tel" th:field="*{phone}">
                </td>
            </tr>

            <tr>
                <td>Confirmation Date:</td>
                <td>
                    <input type="date" th:field="*{confirmationDate}" required>
                </td>
            </tr>

            <tr>
                <td>Comments:</td>
                <td><textarea cols="30" rows="10" th:field="*{comments}"></textarea></td>
            </tr>
            
            <tr>
                <td></td>
                <td>
                    <button type="submit">Update</button>
                    <input type="reset" value="Clear"></button>
                </td>
            </tr>
        </table>
    </form>
</body>

</html>